/* Write your CSS code here */
.list-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.heading-date-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.profile-heading {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 25px;
  text-align: center;
  font-weight: 800;
}
.profile-para {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 400;
  text-align: start;
}
.line {
  width: 100%;
  border: 1px solid rgb(221, 218, 218);
}
